body {
  overflow: hidden;
}



.circular-carousel-slider {
  position: absolute;
  left: calc(50% - 150px);
  top: calc((100vh - 400px) / 2);
  transform-origin: 150px 2500px;
  will-change: transform;

  .slide-item-1 {
    position: absolute;
    height: 100vh;
    transform-origin: 150px 2500px;
    @for $i from 0 through 36 {
      &:nth-child(#{$i}) {
        transform: rotate(#{$i * 10}deg);
        div {
          border-radius: 10px;
  background: url('https://i.ibb.co/RcmnMNM/ROTI.png');
  background-size: cover;
        }
      }
    }
    &:active {
      cursor: grabbing;
    }
    div {
      width: 300px;
      height: 400px;
      border-radius: 5px;
      background: currentColor;
    }
  }
  .slide-item-2 {
    position: absolute;
    height: 100vh;
    transform-origin: 150px 2500px;
    @for $i from 0 through 36 {
      &:nth-child(#{$i}) {
        transform: rotate(#{$i * 10}deg);
        div {
          border-radius: 10px;
  background: url('https://i.ibb.co/jTGhKpm/KAY.png');
  background-size: cover;
        }
      }
    }
    &:active {
      cursor: grabbing;
    }
    div {
      width: 300px;
      height: 400px;
      border-radius: 5px;
      background: currentColor;
    }
  }
  .slide-item-3 {
    position: absolute;
    height: 100vh;
    transform-origin: 150px 2500px;
    @for $i from 0 through 36 {
      &:nth-child(#{$i}) {
        transform: rotate(#{$i * 10}deg);
        div {
          border-radius: 10px;
  background: url('https://i.ibb.co/Bq9GYhJ/KANDACE.png');
  background-size: cover;
        }
      }
    }
    &:active {
      cursor: grabbing;
    }
    div {
      width: 300px;
      height: 400px;
      border-radius: 5px;
      background: currentColor;
    }
  }
  .slide-item-4 {
    position: absolute;
    height: 100vh;
    transform-origin: 150px 2500px;
    @for $i from 0 through 36 {
      &:nth-child(#{$i}) {
        transform: rotate(#{$i * 10}deg);
        div {
          border-radius: 10px;
  background: url('https://i.ibb.co/wKdMStZ/Group-9.png');
  background-size: cover;
        }
      }
    }
    &:active {
      cursor: grabbing;
    }
    div {
      width: 300px;
      height: 400px;
      border-radius: 5px;
      background: currentColor;
    }
  }
}
